.card{
    width:50vw;
    height:20vh;
    background-color:white;
    margin: 2rem auto;
    padding: 1vw;
    font-family: inherit;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    border-radius: 4px;
  
}
  
.vote{
    background: transparent;
    border: none;
    outline:none;
    float: right;
}
.title{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.timeStamp{
    font-size: small;
    float: right;
    margin-left: 1vw;
}
.tag{
    font-size: small;
}
.description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}