.leftWall{
    width:60%;
    float: left;
    background-color: rgb(244, 244, 244);
    margin-top: 5vh;
}
.rightWall{
    width:40%;
    float:right;
    position: fixed;
    right: 0;
    margin-top: 10vh;
}
.profileTitle{
    margin-left: 12vw;
}
.profile{
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin: auto;
}