.formContainer{
    margin: 5vw;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border:2px dashed grey;
    width:70%;
}

.formElement{
    width:10vw;
    margin:2vw;
}
.formElement input{
    width:15vw;
    height: 4vh;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid grey;
}

.formElement textarea{
    resize: none;
    width:15vw;
    height:10vh;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid grey;
}
.submit{
    height:3vh;
    font-family: inherit;
    font-weight: bold;
    margin-left: 2vw;
    background-color: #16a085;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}
